# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Database Configuration
DATABASE_URL="postgresql://postgres.xxx:password@aws-x-region.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.xxx:password@aws-x-region.pooler.supabase.com:5432/postgres"

# Admin Configuration
SUPABASE_SERVICE_ROLE_KEY="your_supabase_service_role_key"
ADMIN_EMAILS="admin1@example.com,admin2@example.com"
